[submodule "Brickview/Vendors/imgui"]
	path = Brickview/Vendors/imgui
	url = https://github.com/Malkrich/imgui.git
[submodule "Brickview/Vendors/spdlog"]
	path = Brickview/Vendors/spdlog
	url = https://github.com/Malkrich/spdlog.git
[submodule "Brickview/Vendors/glfw"]
	path = Brickview/Vendors/glfw
	url = https://github.com/Malkrich/glfw.git
[submodule "Brickview/Vendors/OBJ-Loader"]
	path = Brickview/Vendors/OBJ-Loader
	url = https://github.com/Malkrich/OBJ-Loader.git
